.dashboard-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--fondo);
}

.sidebar {
    width: 300px;
    min-width: 300px;
    flex-shrink: 0;
    background-color: var(--azul-marino);
    /* O el color azul institucional que prefieras */
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pagina-admin {
    flex: 1;
    max-width: 1280px;
    padding: 8px 0;
    overflow-y: auto;
}